body {
    margin:0;
    padding:0;
    font-family: Poppins, sans-serif;
}
a, a:hover, a:visited {
    color: #BF0978;
}
#map {
    top:0;
    height: 100vh;
    width:100vw;
    position: fixed;
}
#header {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 5;
    max-width: 750px;
    text-align: center;
    margin-top: 3vh;
}
#header h1, #header h2 {
    margin: 0;
    font-weight: 800;
}

#header img {
    width: 50%;
    padding-top: 3vh;
}

h1 {
    padding: 2vh 2vw;
    font-size: 400%;
    color: #BF0978;
    line-height: 100%;
}

h2 {
    padding: 2vh 4vw;
    font-size: 200%;
}

#intro {
    padding: 1vh 0;
}

#intro p {
    margin: 0;
    padding: 1vh 4vw;
    text-align: left;
}

#minimap h3 {
    color: #BF0978;
}

#minimap svg {
    width: 90%;
    height: auto;
    padding-bottom: 2vh;
}

#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    position: relative;
    z-index: 5;
}
#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.hidden {
    visibility: hidden;
}
.centered {
    width: 50vw;
    margin: 0 auto;
}
.lefty {
    width: 33vw;
    margin-left: 5vw;
}
.righty {
    width: 33vw;
    margin-left: 62vw;
}
.fully {
    width: 100%;
    margin: auto;
}
.light {
    color: #321d49;
    background-color: #fff;
    border-color: #BF0978;
    border-style: dashed;
    border-width: 4px;
}
.dark {
    color: #fff;
    background-color: #321d49;
}
.step {
    padding-bottom: 70vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}
.step.active {
    opacity: 0.9;
}

.step div {
    padding:  25px 50px;
    line-height: 25px;
    font-size: 16px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {
    .centered, .lefty, .righty, .fully {
        width: 70vw;
        margin: 0 auto;
    }
}

#footer {
    width: 100%;
    height: 50px;
    background: #BF0978;
    color: #fff;
    font-size: 80%;
}

ul.share-buttons{
    list-style: none;
    padding: 0;
  }
  
  ul.share-buttons li{
    display: inline;
  }
  
  ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

#footernav {
    position: relative;
}

#footernav nav {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#footernav nav a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    margin: 0 10px; 
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan, 
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

html {
    scroll-behavior: smooth;
  }